@model User
<div class="Header">
    <h1>Welcome to the Dojo Activity Center!</h1>
    <a style="margin-left: 94%;"href="/signin">Sign in</a>
</div>
<div>
    <span style="color:red;"asp-validation-for="FirstName"></span><br>
    <span style="color:red;"asp-validation-for="LastName"></span><br>
    <span style="color:red;"asp-validation-for="Email"></span><br>
    <span style="color:red;"asp-validation-for="Password"></span><br>
    <span style="color:red;"asp-validation-for="ComparePassword"></span><br>
</div>
<form asp-action="Register" asp-controller="Home" method="post">
    <div class="FirstName">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control" placeholder="First Name">
    </div>

    <div class="LastName">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control" placeholder="Last Name">
    </div>

    <div class="Email">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" placeholder="Email">
    </div>

    <div class="Password">
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" placeholder="Password">
    </div>

    <div class="ComparePassword">
    <label asp-for="ComparePassword"></label>
    <input asp-for="ComparePassword" class="form-control" placeholder="Confirm Password">
    </div><br>
    <input type="submit" class="btn btn-danger" value="Register">
</form>